Source: {{ package-name }}-clojure
Section: java
Priority: optional
Maintainer: {{ maintainer|safe }}
Uploaders: {{ uploaders|safe }}
Build-Depends:
 debhelper (>= 10),
 javahelper (>= 0.32),
 maven-repo-helper (>= 1.7),
 default-jdk,
 clojure (>= 1.5){% if dependencies %},
{{ dependencies }}{% endif %}
Standards-Version: 3.9.8
Vcs-Git: https://anonscm.debian.org/git/pkg-clojure/{{ package-name }}-clojure.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-clojure/{{ package-name }}-clojure.git;a=summary
Homepage: {{ homepage }}

Package: lib{{ package-name }}-clojure
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}
Description: {{ description }}
