Source: {{ source-package-name }}
Section: java
Priority: optional
Maintainer: {{ maintainer|safe }}
Uploaders: {{ uploaders|safe }}
Build-Depends:
 debhelper (>= 10),
 javahelper (>= 0.32),
 maven-repo-helper (>= 1.7),
 default-jdk,
 clojure (>= 1.5){% if dependencies %},
{{ dependencies }}{% endif %}
Standards-Version: 3.9.8
Vcs-Git: https://anonscm.debian.org/git/pkg-clojure/{{ source-package-name }}.git
Vcs-Browser: https://anonscm.debian.org/git/pkg-clojure/{{ source-package-name }}.git
Homepage: {{ homepage }}

Package: {{ package-name }}
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}
Description: {{ description }}
