Document: {{ package-name }}-clojure
Title: {{ package-name }}
Author: {{ upstream-author-name }}
Abstract: {{ package-name }}-clojure README
Section: Programming

Format: Text
Index: /usr/share/doc/lib{{ package-name }}-clojure/README.md
Files: /usr/share/doc/lib{{ package-name }}-clojure/README.md
