Document: {{ source-package-name }}
Title: {{ jar-name }}
Author: {{ upstream-author-name }}
Abstract: {{ source-package-name }} README
Section: Programming

Format: Text
Index: /usr/share/doc/{{ package-name }}/README.md
Files: /usr/share/doc/{{ package-name }}/README.md{% if readme-size >= 4096 %}.gz{% endif %}
